<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<!-- Owl Carousel JavaScript -->
<script src="https://141-27-27.preezdan.com/assets/js/owl.carousel.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://141-27-27.preezdan.com/assets/js/bootstrap.bundle.min.js"></script>

<!-- Custom JavaScript -->
<script src="https://141-27-27.preezdan.com/assets/js/script.js"></script>



<div class="ezdan-coffee-slider owl-carousel owl-theme">
  {% for index,catagory  in component.catslidercollection %}

{% if index == 1  %}
<div class="ezdan-coffee-slide blue item position-relative">
<div class="ezdan-coffee-slide-img">
  <img
    src="{{ catagory.CatSliderimage }}"
    alt="coffee-slide-img1"
  />
  <div class="ezdan-coffee-slide-content blue">
    <h2>{{catagory.CatSliderstring}}</h2>
  </div>
</div></div>

{% endif %}

{% if index == 2  %}
<div class="ezdan-coffee-slide sky-blue item position-relative">
<div class="ezdan-coffee-slide-img">
  <img
    src="{{ catagory.CatSliderimage }}"
    alt="coffee-slide-img1"
  />
  <div class="ezdan-coffee-slide-content sky-blue">
    <h2>{{catagory.CatSliderstring}}</h2>
  </div>
</div></div>

{% endif %}

{% if index == 3  %}
<div class="ezdan-coffee-slide green item position-relative">
<div class="ezdan-coffee-slide-img">
  <img
    src="{{ catagory.CatSliderimage }}"
    alt="coffee-slide-img1"
  />
  <div class="ezdan-coffee-slide-content green">
    <h2>{{catagory.CatSliderstring}}</h2>
  </div>
</div></div>

{% endif %}

{% if index == 4  %}
<div class="ezdan-coffee-slide orange item position-relative">
<div class="ezdan-coffee-slide-img">
  <img
    src="{{ catagory.CatSliderimage }}"
    alt="coffee-slide-img1"
  />
  <div class="ezdan-coffee-slide-content orange">
    <h2>{{catagory.CatSliderstring}}</h2>
  </div>
</div></div>

{% endif %}

{% if index == 5  %}
<div class="ezdan-coffee-slide red item position-relative">
<div class="ezdan-coffee-slide-img">
  <img
    src="{{ catagory.CatSliderimage }}"
    alt="coffee-slide-img1"
  />
  <div class="ezdan-coffee-slide-content red">
    <h2>{{catagory.CatSliderstring}}</h2>
  </div>
</div></div>

{% endif %}



  {% endfor %}
  </div>
 
</div>