{#
| Variable                       | Type     | Description                                                                  |
|--------------------------------|----------|------------------------------------------------------------------------------|
| component                      | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.slides[].image       | string   | Image url                                                                    |
| component.slides[].title       | ?string  |                                                                              |
| component.slides[].description | ?string  |                                                                              |
| component.slides               | object[] | list of slides                                                               |
| position                       | int      | Sorting number start from zero                                               |
#}


<!-- Hero Section HTML Start -->
<section class="Hero"> 
    <salla-slider 
    id="main-slider-{{ position }}" 
    class="ezdan-hero-wrapper" 
    auto-play 
    loop
    type="fullwidth">
    <div slot="items">

        


    {% for slide in component.SliderHero %}
    
    <div class="item ezdan-hero-slide slide-1">
        <div data-background="{{ slide.image }}" class="swiper-lazy"></div> 
        <div class="container">
            
            <div class="ezdan-slider-conent">
                <div class=" w-4/6 text-center md:w-7/12 lg:w-5/12 text-white">
                   
                    <h2 data-swiper-parallax="-500" class="lg:text-title-size font-bold leading-tight mb-1 mb-lg-4">{{ slide.string }}</h2>
                    <p data-swiper-parallax="-300" class="line-clamp-2 description">{{ slide.text_area }}</p>
                 
                    <div data-swiper-parallax="-500" class="ezdan-hero-btn">
                        <a href="{{ slide.url}}">اطلبها الحين</a>
                      </div>
                     
                </div>
               
    
  
            </div>
      
                
             
          </div>
        
        </div>
        {% endfor %}
       
    </div>

   

</salla-slider>
</section> 


